In [ ]:
import pandas as pd # .csv 파일을 데이터 프레임 형태로 읽기 위함
test_df = pd.DataFrame(pd.read_csv('/content/drive/MyDrive/test.csv', encoding='CP949'))
names = list(test_df['name'])

test_df.iloc[:,:] # 확인

   id    name  price
0   1     콘초1    100
1   2     스윙칩    200
2   3   포테이토칩    300
3   4    초코송이    400
4   5     콘초2    500
5   6    바나나킥    600
6   7    초코파이    700
7   8  콘초_바나나    800
8   9     왕뚜껑    900
9  10   콘초_초코   1000

In [ ]:
# 초성 검출 함수
def getChosung(text):

    CHOSUNG_START_LETTER = 4352
    JAMO_START_LETTER = 44032
    JAMO_END_LETTER = 55203
    JAMO_CYCLE = 588

    def isHangul(ch):
        return ord(ch) >= JAMO_START_LETTER and ord(ch) <= JAMO_END_LETTER

    result = text

    for ch in text:
        if isHangul(ch): #한글이 아닌 글자는 걸러냅니다.
            result += chr(int((ord(ch) - JAMO_START_LETTER)/JAMO_CYCLE + CHOSUNG_START_LETTER) + 8252)     
            # +8252 가 핵심!! <- ord() 찍어봤더니 달랐음

    return result

In [ ]:
input = 'ㅋㅊ' # 검색창

for idx, name in enumerate(names):
    if input in getChosung(name):
        print('제품명: {:10s}   ,제품가격: {:5d}'.format(name, test_df.iloc[idx]['price']))
        print("")

제품명: 콘초1          ,제품가격:   100

제품명: 콘초2          ,제품가격:   500

제품명: 콘초_바나나       ,제품가격:   800

제품명: 콘초_초코        ,제품가격:  1000